@CHARSET "UTF-8";

header {
	background-color: blue;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 20px;
}

footer {
	background-color: blue;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

div {
	float: left;
}